src/main/resources/claim.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://allstate.com/claim" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://allstate.com/claim" targetNamespace="http://allstate.com/claim">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://allstate.com/claim">

    <xs:element name="GetPolicyDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ClaimNumber" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPolicyDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="PolicyDetails" type="tns:PolicyDetails"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PolicyDetails">
        <xs:sequence>
            <xs:element name="HolderName" type="xs:string"/>
            <xs:element name="PolicyNumber" type="xs:int"/>
            <xs:element name="CoverageName" type="xs:string"/>
            <xs:element name="CoverageLimit" type="xs:double"/>
            <xs:element name="deductible" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetPolicyDetailsRequest">
    <wsdl:part element="tns:GetPolicyDetailsRequest" name="GetPolicyDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPolicyDetailsResponse">
    <wsdl:part element="tns:GetPolicyDetailsResponse" name="GetPolicyDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClaimPort">
    <wsdl:operation name="GetPolicyDetails">
      <wsdl:input message="tns:GetPolicyDetailsRequest" name="GetPolicyDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPolicyDetailsResponse" name="GetPolicyDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClaimPortSoap11" type="tns:ClaimPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPolicyDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPolicyDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPolicyDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimPortService">
    <wsdl:port binding="tns:ClaimPortSoap11" name="ClaimPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>